name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: platane/snk@v3
        with:
          github_user_name: eusam04
          outputs: |
            dist/snake-default.svg
            dist/snake-dark.svg?palette=github-dark
            dist/snake-purple.svg?palette=github-dark&color_snake=#a855f7
            dist/snake-blue.svg?palette=github-dark&color_snake=#38bdf8
            dist/snake-pink.svg?palette=github-dark&color_snake=#ec4899


      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
